{% extends 'base.html' %}
{% load static %}

{% block title %}
Stack OverFlow - Where Developers Learn, Share, & Build Careers
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/ask_question.css' %}">
{% endblock %}

{% block content %}
<h1>Ask a public question</h1>
<div class="box1">
    <ul>
        <li>Summarize your problem in a one-line title.</li>
        <li>Describe your problem in more detail.</li>
        <li>Describe what you tried and what you expected to happen.</li>
        <li>Add “tags” which help surface your question to members of the community.</li>
        <li>Review your question and post it to the site.</li>
    </ul>
</div>

<form method="post" class="form">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" name="title" required>
    <label for="description">Description:</label>
    <textarea name="description" placeholder="e.g. Is there an R function for finding the index of an element in a vector?" required rows="10" cols="30"></textarea>
    <!-- The "rows" attribute specifies the number of visible text lines in the textarea, and the "cols" attribute specifies the number of visible text columns. You can adjust these values to make the textarea bigger or smaller. -->
    <input type="submit" value="Submit" class="submit">
</form>

{% endblock %}