<!DOCTYPE html>
<html>
<head>
    <title>Edit Question</title>
</head>
<body>
    <h1>Edit Question</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ question.title }}"><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description">{{ question.description }}</textarea><br>
        <input type="submit" value="Update Question">
    </form>

    <a href="{% url 'question' %}?question_id={{question.id }}">Back to Question Details</a>
</body>
</html>
