{% extends 'base.html' %}
{% block content %}
    <ul style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    {% for user in followers %}
    <li style="display: flex; list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
rgba(27, 31, 35, 0.15) 0px 1px 0px 0px,
rgba(27, 31, 35, 0.15) 0px -1px 0px 0px;
margin-right: 2rem; padding-top: 1rem; padding-bottom: 1rem; margin-bottom: 1rem;">
            <a href="{% url 'profile' %}?username={{ user.follower.username }}"><img src="{{ user.follower.stackoverflowuser.profile_pic.url }}" style="width: 5.2rem; height: 5.2rem; border-radius: 10%;"></a>
            <div style="display: flex; flex-direction: column; justify-content: space-between; margin-left: 1rem;"><a href="{% url 'profile' %}?username={{ user.follower.username }}" style="color: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-decoration: none;">{{ user.follower.username }}</a>
            <p><b>About: </b>{{ user.follower.stackoverflowuser.about }}</p>
            <p><b>Join Date: </b>{{ user.follower.stackoverflowuser.join_date }}</p>
        </div>
        </li>
    {% empty %}
        <li>No users being followed.</li>
    {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
