{% extends 'base.html' %}

{% block content %}
    <h1>Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Karma: {{ user.stackoverflowuser.karma }}</p>
    <p>Questions Asked: {{ user.stackoverflowuser.questions_asked }}</p> <!-- Display questions_asked field value -->
    <p>Questions Answered: {{ user.stackoverflowuser.questions_answered }}</p> <!-- Display questions_answered field value -->
    <p>Join Date: {{ user.stackoverflowuser.join_date }}</p> <!-- Display join_date field value -->
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}

