{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}
{% block title %}{{ user.username }} - Stack OverFlow{% endblock %}
{% block content %}
<div style="display: flex;">
<img src="{{ user.stackoverflowuser.profile_pic.url }}" alt="Profile Picture"
    style="width: 9em; height: 9rem; border-radius: 5%; box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
    <div style="display: flex; flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 8rem;">
<h1 style="font-weight: 500; font-family: Arial, Helvetica, sans-serif;">{{ user.username }} {% if user.username == 'niyander' %}<b style="color: blue">[MOD]</b>{% endif %}{% if user.username == 'blackjoker' %}<b style="color: red">[Restricted LEVEL 1]</b>{% endif %}{% if user.username == 'blackjoker2' %}<b style="color: red">[Restricted LEVEL 2]</b>{% endif %}{% if user.username == 'blackjoker3' %}<b style="color: red">[BANNED]</b>{% endif %}</h1>
<p><b>Email: </b>{{ user.email }}</p>
<p><b>About: </b>{{ user.stackoverflowuser.about }}</p>
<p><b>Website: </b><a href="{{ user.stackoverflowuser.link }}">{{ user.stackoverflowuser.link }}</a></p>
</div>
</div>

<div style="display: flex; flex-direction: column; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-right: 8rem; gap: 2rem; font-size: 1.25rem; text-align: left;
padding: 2rem; margin-top: 1.5rem;
margin-bottom: 1rem;">
        <div style="display: flex;
        justify-content: space-between;">
        <p><b>Questions Answered: </b>{{ answers_given }}</p>
        <p><b>Questions Asked: </b>{{ questions_asked }}</p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <p><b>Karma: </b>
            {% if user.username == 'niyander' %}
                560
            {% elif user.username == 'blackjoker' %}
                -108
            {% elif user.username == 'blackjoker2' %}
                -225
            {% elif user.username == 'blackjoker3' %}
                -560
            {% else %}
                {{ total_votes }}
            {% endif %}
        </p>
        <p><b>Join Date: </b>{{ user.stackoverflowuser.join_date }}</p>
    </div>
</div>
<!-- Display "about" and "link" field values -->
<div style="display: flex; justify-content: space-between;
margin-right: 8rem;">
<a href="{% url 'edit_profile' %}" style="padding: 0.5rem;
align-self: flex-start;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
background-color: #fbf3d5;
color: black;
font-weight: 600;
text-decoration: none;
border: none;
margin-top: 0.25rem;">Edit Profile</a>

<a href="{% url 'logout' %}" style="padding: 0.5rem;
align-self: flex-start;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
background-color: red;
color: white;
font-weight: 600;
text-decoration: none;
border: none;
margin-top: 0.25rem;">Logout</a>
</div>
<!-- Add Edit Profile button with a link to the edit_profile view -->
{% endblock %}