{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Stack OverFlow - Where Developers Learn, Share, & Build Careers</title>
</head>

<body>
    <header>
        <a href="{% url 'feed' %}">
            <img src="{% static 'img/logo-stackoverflow.svg' %}" alt="LOGO" class="logo-img">
        </a>
        <form id="search-form" action="{% url 'search' %}" method="GET" class="search-form">
            <img src="{% static 'img/magnifying-glass.svg' %}" alt="Search" class="search-icon">
            <input id="search-input" type="text" name="query" placeholder="Search...">
        </form>
        <a href="{% url 'login' %}"class='login'>Log in</a>
        <a href="{% url 'signup' %}" class="signup">Sign up</a>
    </header>

    <form method="post" class="form">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" required>
        <button type="submit">Sign up</button>
    </form>

    <p class="already">Already have an account? <a href="{% url 'login' %}">Log in</a></p>

    {% if messages %}
        <div class="error">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    
    <footer style="position: fixed; bottom: 0; left: 0; right: 0; background-color: #2a2e31; margin: 0; padding-top: 0.8rem; padding-bottom: 0.8rem; display: flex; align-items: center; color: white; justify-content: space-between; padding-right: 3rem;">
        <a href="{% url 'feed' %}" style="margin-right: 20px;">
            <img src="{% static 'img/logo-meta.svg' %}" alt="LOGO" class="logo-img">
        </a>
        <p style="margin-right: 10px;">Blog</p>
        <p style="margin-right: 10px;">Facebook</p>
        <p style="margin-right: 10px;">Twitter</p>
        <p style="margin-right: 10px;">Linkedin</p>
        <p style="margin-right: 10px;">Instagram</p>
    </footer>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('search-form');
            var input = document.getElementById('search-input');

            input.addEventListener('keydown', function (event) {
                if (event.keyCode === 13) { // Check if Enter key is pressed
                    form.submit(); // Submit the form
                }
            });
        });
    </script>
</body>

</html>

